<h2 class="section">Your Reservations:</h2>
<hr>
<div>
  {{#each reservations as |reservation|}}
    <h3>Reservation Number: {{id}}</h3>
    <div>Time: {{res_time}}</div>
    <div>Date: {{format_date res_date}}</div>
    <div>Name for Party: {{party_name}}</div>
    <div>Number of Guests: {{party_number}}</div>
    <hr>
  {{/each}}
</div>
<br>
<a
  href="/reservations"
  id="createRes"
  class="waves-effect waves-light btn"
>Create a Reservation</a>