<h2>Your Reservations:</h2>

<div>
    <h3>Reservation Number: {{id}}</h3>
    <div>Time: {{res_time}}</div>
    <div>Date: {{res_date}}</div>
    <div>Name for Party: {{party_name}}</div>
    <div>Number of Guests: {{party_number}}</div>
</div>